{% extends "base.html" %}

{% block content %}

<h2 class="mb-4">Admin Panel</h2>

<div class="card shadow">

<table class="table table-hover">

<thead class="table-dark">
<tr>
    <th>ID</th>
    <th>Username</th>
    <th>Email</th>
    <th>Role</th>
    <th>Actions</th>
</tr>
</thead>

<tbody>

{% for user in users %}
<tr>
    <td>{{ user.id }}</td>
    <td>{{ user.username }}</td>
    <td>{{ user.email }}</td>
    <td>{{ user.role }}</td>

    <td>

        {% if user.role != "admin" %}
        <a href="/admin/make-admin/{{ user.id }}"
           class="btn btn-warning btn-sm">
           Make admin
        </a>
        {% endif %}

        <a href="/admin/delete-user/{{ user.id }}"
           class="btn btn-danger btn-sm">
           Delete
        </a>

    </td>
</tr>
{% endfor %}

</tbody>

</table>

</div>

{% endblock %}